//- new-book.pug -:
//- for the new book form.
extends layout.pug
block content
	h1 Add a New Book
		if(errors)
			h2.errors Uh oh!  You seem to be missing some stuff.
			ul.errors
				each error in errors
					li.update-error-style= error.message
	form(action='/books', method='post', onsubmit=`return confirm('Add new book?');`)
		p
			label(for='title') Title
			input#title(name='title', type='text', value=book.title)
		p
			label(for='author') Author
			input#author(name='author', type='text', value=book.author)
		p
			label(for='genre') Genre
			input#genre(name='genre', type='text', value=book.genre)
		p
			label(for='year') Year
			input#year(name='year', type='text', value=book.year)
		p
			input(type='submit', value='Create New Book')
		p
			a.button(href='/books') Cancel

	a(href='/') ← Back to Home
